body {
    background-image:linear-gradient(to right, #ff512f, #f09819);    
    text-align: center;
    margin: 130px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    text-shadow: 1px 1px rgb(209, 209, 209);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px;
    gap: 30px;
}

h1 {
    margin-top: 50px;
    font-size:45px;
}

input {
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
}

img {
    width: 70px;
}
